{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="col-md-10 offset-md-3">
    <div class="col-lg-8">
    <h3>Makaleler</h3>
    <hr>
    <form>

      {% csrf_token %}
      <input class= type="search" name ="keyword" placeholder="Ara...">
      <button class="btn btn-success" type="submit">Ara</button>
      <br><br>

    </form>
    </div>
    </div>
    
</div>
{% if articles %}
{% for article in articles %}
<div class="row">
<div class="col-md-10 offset-md-3">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <a href="{% url 'article:detail' article.id %}"><h2 class="mt-4">{{article.title}}</h2></a> 
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">by {{article.author.username}},{{article.created_date}}</div>
                            
                        </header>
                        <!-- Preview image figure-->
                        {% if article.article_image %}
                        <a href="{% url 'article:detail' article.id %}"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt="" style="height:300px; width:300px;"></a>
                        {% endif %}
            
                        <!-- Post content-->
                         <p class="lead">
                           {{article.content|safe|truncatewords:50}}
                            </p>

                            
                           <a style ="float : right;" href="{% url 'article:detail' article.id %}" class ="btn btn-danger">Devamını Oku</a>
                            <br>
                        
                       
                        
                    </article>
                    
                </div>
                
                   
                    
            
        </div>
        </div>
{% endfor %}
{% else %}
<div class="row">
    <div class="col-md-10 offset-md-3">
    <div class="col-lg-8">
<div class = "alert alert-danger">Makale bulunamadı.</div>
</div>
</div>
</div>
{% endif %}





{% endblock  %}
